<h1>Demo</h1>

<h2>Filterable Drop Down</h2>
{{frost-select-2 data=data on-change=(action "onChange")}}

<h2>Filterable ComboBox</h2>
{{frost-combobox-2 data=data on-change=(action "onChange")}}

<h2>Filterable MultiSelect</h2>
{{frost-multi-select-2 data=data on-change=(action "onChange")}}
